:root {
    --error-message: red;

    --button-main-color: dodgerblue;
    --button-secondary-color: lemonchiffon;

    --button-delete-main-color: #ff7f7f;
    --button-delete-secondary-color: dodgerblue;
}

* {
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    max-width: 80rem;
    height: 100vh;

    background-color: #F8FBFF;
    color: #333333;

    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    margin: 0.5rem;
    border: 0.2rem solid dodgerblue;
}

table > tr:nth-child(2n-1) {
    background-color: lightblue;
}

.error-block {
    border: 0.2rem solid var(--error-message);
}

.input-text {
    width: 100%;
}

.input-button {
    border: 0.3rem solid var(--button-main-color);
    border-radius: 0.5rem;

    padding: 0.5rem 1rem;
    margin: 0.5rem;

    background-color: var(--button-main-color);
    color: var(--button-secondary-color);

    font-size: 1.75rem;
    letter-spacing: 0.05rem;
}

[data-action="confirm"] {
    background-color: var(--button-delete-main-color);
    color: var(--button-delete-secondary-color);
}

.input-button:focus {
    outline: none;
}

.action-bar {
    display: flex;
}

.input-button:hover {
    cursor: pointer;
    background-color: var(--button-secondary-color);
    color: var(--button-main-color);
    transition: 0.5s;
}

